# Ignore everything by default,
# whitelist what we want
*
!.alias
!.bash_profile
!.bashrc
!.config/X11/xinitrc
!.config/dir_colors
!.config/hexchat/hexchat.conf
!.config/hexchat/keybindings.conf
!.config/hexchat/servlist.conf
!.config/htop/htoprc
!.config/neofetch/config.conf
!.config/procps/toprc
!.config/vim/vimrc
!.config/vlc/vlcrc
!.config/yay/config.json
!.github/README.md
!.gitignore
!.linssid.prefs
!.profile
!.wavemonrc
